.page{
  padding-left: 240px !important;
}
.theme-default-content code{
  color: #d63200;
}
.sidebar{
  width: 240px !important;
}
.theme-default-content{
  max-width: none !important;
  padding: 20px !important;
}
