.page{
  padding-left: 240px !important;
}
.sidebar{
  width: 240px !important;
}
.theme-default-content{
  max-width: none !important;
  padding: 20px !important;
}
.cm-s-material.CodeMirror{
  border-radius: 6px;
}