<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="baidu-site-verification" content="JrjuJq3Xff" />
    <link rel="shortcut icon" href="http://imjue.com/favicon.ico" type="image/vnd.microsoft.icon">
    <link href="{{ site.url }}/assets/css/markdown.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
{{ content }}
</body>
</html>
