<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="{{ page.keywords }}">
    <link rel="shortcut icon" href="http://imjue.com/favicon.ico" type="image/vnd.microsoft.icon">
    <!--<link href="{{ site.url }}/assets/css/markdown.css" rel="stylesheet"></link>-->
    <link href="../assets/css/markdown.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

    <!--<script>hljs.initHighlightingOnLoad();</script>-->
    <!--<script>-->
        <!--var _hmt = _hmt || [];-->
        <!--(function() {-->
            <!--var hm = document.createElement("script");-->
            <!--hm.src = "//hm.baidu.com/hm.js?f0d540ff6c6bb4780e2483a6372b1459";-->
            <!--var s = document.getElementsByTagName("script")[0];-->
            <!--s.parentNode.insertBefore(hm, s);-->
        <!--})();-->
    <!--</script>-->
</head>
<body>
<div class="header header-logged-in true" role="banner">
    <div class="container">
        <ul class="clearfix">
            <li><a href="#">首页</a></li>
        </ul>
    </div>
</div>
<div class="content">{{ content }}</div>
<div class="overlay"></div>
<script src="{{ site.url }}/assets/js/loaded.js"></script>
</body>
</html>
